/* estilos para la clase visor-geografico */
.visor-geografico{
    width: 95%;
    height: 100vh;
    margin: auto;
    padding-top: 50px; 
    padding-bottom: 100px;      
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;         
} 
.visor-geografico p{
    padding-top: 20px;
    font-size: 16px;
}
.visor-geografico .p-1{
    font-size: 20px;
    font-weight: bold;
}
/* estilos para el elemento map */
#map{
    width: 95%;
    margin: auto;
    min-height: 500px;
    margin-top: 30px;
    background: rgba(0,0,0,0.1) ;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}