/* 6: variables generales de estilos */
:root{
    --color-sec: #f44336;
    --fondo-blanco: #fff;
    --color-texto-header: #fff;
    --color-gradiente: rgba(4,9,30,0.8);  
    --color-fondo-mapBase: rgba(0,0,0,0.1) ;
    --color-borde-minimap: #fff;
    --color-fondo-icon: rgba(112, 109, 109, 0.3);
    --color-iconos: rgba(0,0,0,0.7);  
}

/* 7: estilos generales para el documento */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}
body{
    background: var(--fondo-blanco);
    overflow: scroll;  
}






/* ESTILOS PARA EL HEADER DISPOSITIVOS DE ESCRITORIO */
/* * * * * * * * * * * * * * * * * * * * * * */

/* 8: estilos para el header-sig , vista general;
dimensiones alto y ancho;
imagen de fondo, posicionamiento y tama単o */
.header{    
    min-height: 100vh;
    width: 100%;    
    background-image: linear-gradient(var(--color-gradiente), var(--color-gradiente)), url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);  
}

/* estilos para la barra de navegacion */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* estilos logo-uniquindio, 
tama単o de imagen del logo */
.logo-uniquindio{
    height: 100px;
    width: 100px;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    /* box-shadow: dfX, dfY, Radio, Color. */
    box-shadow: 0px 0px 30px rgba(255, 255, 255,0.6);
    background: var(--fondo-blanco);
}
/* tama単o del logo uniquindio */
.logo-uniquindio img{
    width: 80%;
}

/* estilos para los links de navegacion
del documento */

/* definimos longitud y alineamiento de texto */
.links-navegacion{
    flex: 1;
    text-align: right;    
}

/* texto de la lista */
.links-navegacion ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 7px;
    position: relative;
}

/* texto de los links */
.links-navegacion ul li a{
    color: var(--color-texto-header);
    text-decoration: none;
    font-size: 18px;
}

/* estilo de selecion */
.links-navegacion ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--color-sec);
    display: block;
    margin: auto;
    transition: 0.8s;
}
.links-navegacion ul li:hover::after{
    width: 100%;
}

/* estilos para el logotipo del Geoportal Uniquindiano */
.logotipo-sig{
    width: 90%;
    color: var(--color-texto-header);
    position: absolute;
    top: 50%;
    left: 50%;
    /* requiere de una transformacion: traslado */
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 40px;
    z-index: 1000;
}
.logotipo-sig h1{
    font-size: 65px;
    line-height: 40px;    
    margin-top: 30px;
}
.logotipo-sig h2{
    font-size: 65px;
}
.logotipo-sig p{
    margin: 50px 0px 60px;
    font-size: 17px;
    font-weight: 300;
    
}
/* estilos para el botom btn-sig */
.btn-sig {
    display: inline-block;
    text-decoration: none;
    color: var(--color-texto-header);
    border: 1px solid var(--color-texto-header);
    margin-bottom: 20px;
    padding: 10px 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn-sig:hover{
    background: var(--color-sec);
    transition: 1s;
}
/* ocultamos los iconos en
 pantallas mayores a 700px */

nav .fa-solid {
    display: none;
}






/* ESTILOS PARA EL HEADER DEL INDEX.HTML  */
/* VERSION PARA MOVILES DE MAX-WIDTH: 800PX */
/* * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 800px) {
    /* ajustamos el tama単o de los textos del logotipo del geoportal */        
    nav{        
        justify-content: right;
        align-items: center;         
        position: relative;                 
    }
    .logo-uniquindio{
        position: absolute;
        top: 150%;
        left: 50%;        
        transform: translate(-50%, -50%);
    }   
    .logotipo-sig{        
        margin-top: 80px;
    }
    .logotipo-sig h1{           
        font-size: 40px;        
    }   
    .logotipo-sig h2{
        font-size: 35px;
    } 
    .logotipo-sig p{
        padding-top: 60px;
        font-size: 15px;
        text-align: justify;
    }
    /* estilos para la barra de links de navegacion */
    .links-navegacion{
        position: fixed;
        background: var(--color-sec);
        height: 100vh;
        width: 250px;
        top: 0px;
        right: -250px;
        text-align: left;
        z-index: 5000;
        transition: 1s;
        overflow: scroll;        
    }
    .links-navegacion ul{
        padding: 10px;
    }

    /* desplegamos los links en forma de bloque */
    .links-navegacion ul li {
        display: block;
    }

    /* Activamos los iconos */
    nav .fa-solid{
        display: block;
        color: var(--color-texto-header);
        margin: 3px;
        font-size: 30px;
        padding-left: 4px;
        padding-bottom: 3px;
    }
    .btn-sig{
        margin-top: 30px ;
    }

}

/* ESTILOS PARA EL HEADER DISPOSITIVOS MOVILES CON MAX-WIDTH: 800PX CON ORIENTACION HORIZONTAL */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* 11: */
@media screen and (max-width:800px) and (orientation:landscape) {
    .logo-uniquindio{
        width: 70px;
        height: 70px;
        padding: 5px;
        position: absolute;
        top: 95%;
        left: 8%;
    }  
    .links-navegacion{
        z-index: 1000;
        line-height: 20px;
    } 
    .logotipo-sig{        
        width: 70%;             
        height: 90vh;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 0;                    
    }
    .logotipo-sig h1{
        font-size: 45px;
        line-height: 30px;                    
    }
    .logotipo-sig h2{
        font-size: 40px;
    }

    .logotipo-sig p{      
        /* arriba/ derecha /abajo/ izquierda */
        margin: 50px 0px 0px 0px;
        padding: 0px;
        font-size: 15px;
        text-align: center;
    }
    .btn-sig{        
        margin: 50px 0px 0px 0px;
        padding: 7px 15px;
        font-size: 13px;
    }   
    .header nav .fa-solid{
        font-size: 20px;
    }
    .links-navegacion ul li a{
        font-size: 14px;
        
    }
}









/* ESTILOS DEFINIDOS PARA EL  SUB HEADER DISPOSITIVOS DE ESCRITORIO */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* Estilos para la el sub-header */
.sub-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(var(--color-gradiente), var(--color-gradiente)), url(../img/sub-banner-2.webp);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    text-align: center;
    color: var(--color-texto-header);  
    justify-content: center;  
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);
}
.sub-header .logotipo-sig{ 
    width: auto;   
    margin:0;
    padding: 0;  
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);        
}
.sub-header h1{
    margin: 0px;
   font-size: 60px;
   line-height: 65px;
}
.sub-header p{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
}



/* ESTILOS PARA EL SUB-HEADER DISPOSITIVOS MOVILES DE MAX-WIDTH: 800PX */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ 

@media screen and (max-width: 800px){
    .sub-header .logotipo-sig h1{
        font-size: 40px;
        line-height: 50px;
    }
    
}




/* ESTILOS PARA LA SECCION GEOPORTAL INDEX.HTML PANTALLAS GRANDES */
/* * * * * * * * * * * * * * * * * * * * * * * * */

/* estilos para seccion geoportal */
.geoportal {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.geoportal h1{    
    font-size: 30px;
    padding-bottom: 25px;
}
.geoportal p{
    font-size: 17px;
    text-align: justify;
}
.citas-bibliograficas{
    text-decoration: none;
    position: relative;    
    text-align: left;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}
















/* ESTILOS PARA SECCION VISOR-GEOGRAFICO PANTALLAS GRANDES */

.visor-geografico{
    width: 95%;
    height: 100vh;
    margin: auto;
    padding-top: 50px; 
    padding-bottom: 100px;      
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;         
} 
.visor-geografico p{
    padding-top: 20px;
    font-size: 16px;
}
.visor-geografico .p-1{
    font-size: 20px;
    font-weight: bold;
}
/* estilos para el elemento map */
#map{
    width: 95%;
    margin: auto;
    min-height: 500px;
    margin-top: 30px;
    background: var(--color-fondo-mapBase) ;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}
.iconos-tools{
    position: absolute;
    width: 3%;
    top: 30%;
    right: 0;
    height: 100vh;
    z-index: 2000;   
    cursor: pointer;
}
.iconos-tools .fa-solid{
    padding: 5px;
    margin-bottom: 8px;    
    border-radius: 30%;
    background: var(--color-borde-minimap);
    color: var(--color-iconos); 
    font-size: 20px;   
}
#mapGeolocalizacion {
    position: absolute;
    z-index: 1000;
    top: 40%;
    right: 5%;
    height: 40%;
    width: 20%;
    border-radius: 10px;
    background: var(--color-fondo-mapBase);
    border: 2px solid var(--color-borde-minimap);
    visibility: visible;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);
    transition: 0.1s;
}
.map-base i img{
    position: absolute;
    z-index: 2000;
    top: 12px;
    right: 5px;
    margin-top: 10px;
    width: 26px;
    margin-bottom: 20px;
}
.leaflet-top .leaflet-control {
    margin-top: 75px;
}
.leaflet-right .leaflet-control {
    margin-right: 6px;
}
.leaflet-touch .leaflet-bar a {
    width: 25px;
    height: 25px;
    line-height: 25px;
}
/* ocultamos el control de zoom en el minimapa de geolocalizacion */
.mapGeo div.leaflet-control-zoom.leaflet-bar.leaflet-control{
    display: none;
}
/* ocultamos el control de attribution en el minimapa de geolocalizacion */
.mapGeo div.leaflet-control-attribution.leaflet-control{
    display: none;
}


/* ESTILOS SECCION VISOR GEOGRAFICO PARA DISPOSITIVOS MOVILES 800PX VERTICALES */

@media screen and (max-width: 700px){
    .visor-geografico p{
        text-align: justify;
        font-size: 13px;

    }
    .visor-geografico .iconos-tools{
        background: red;
        right: 8%;
    }
    .visor-geografico #mapGeolocalizacion{
        height: 38%;
        width: 60%;
        right: 15%;
        top: 50%;
    }
}

